.header-flat-details {
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 0;
}

.header-flat {
  h1 {
    font-size: 18px;
    margin-top: 0;
  }

  form {
    margin: 20px 0;
    margin-right: 0;
    background: #F4F4F4;
    padding: 15px;
    border-radius: 3px;
  }
}

.header-flat-owner {
  padding: 20px;

  img {
    width: 80px;
  }
}
