<ul class="list-inline text-center">
  <% ["anne", "seb"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "avatar-team" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
